*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #b9540b;
  color: #fff;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  margin: 0;
  padding: 0;
  font: inherit;
}

.main-container {
  margin: 0 auto;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.main-header__title {
  font-size: 1.8rem;
  font-weight: 600;
}

.card-container {
  padding: 30px 40px;
}

.cards-list {
  display: flex;
  flex-direction: column;
  gap: 25px 30px;

  @media (width >= 600px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  background-color: #331c0f;
  border-radius: 5px;
  box-shadow: 10px -3px 17px #000009;
  overflow: hidden;
  list-style-type: none;
}

.card__image {
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.card__full-info {
  padding: 20px;
  font-size: 0.8rem;
}

.card__title {
  font-size: 1.4rem;
  padding-bottom: 20px;
}

.card__info {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  padding-top: 5px;
}

.card__image--dead {
  transform: rotate(180deg);
}

.card__type {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.25rem;
}
