*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #b9540b;
  color: #ffffff;
}

h1,
h2 {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 10px;
  padding: 0 20px;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 80px;
}

.main-header__title {
  font-size: 1.8rem;
  font-weight: 600;
}

.main-container {
  margin: 0 auto;
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #331c0f;
  width: max-content;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 1px 1px 1px #000;
}

.card__title {
  font-size: 1.2rem;
  padding: 10px;
}
