*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #b9540b;
  color: #fff;
}

ul {
  margin: 0;
  padding: 0;
}

.characters-cards-list li {
  list-style-type: none;
  position: relative;
}

h1,
h2 {
  margin: 0;
  padding: 0;
  font: inherit;
}

button {
  background: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

.root {
  display: flex;
  flex-direction: column;
}

.main-container {
  margin: 0 auto;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.main-header__title {
  font-size: 2rem;
  font-weight: 600;
}

.character-card-container {
  padding: 30px 40px;
}

.characters-cards-list {
  display: flex;
  flex-direction: column;
  gap: 25px 0px;

  @media (width >= 648px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 30px;
  }

  @media (width >= 950px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.character-card {
  background-color: #331c0f;
  border-radius: 5px;
  box-shadow: 10px -3px 17px #000009;
  overflow: hidden;
  font-size: 1rem;
  position: relative;
  z-index: 1;
  transition-duration: 1s;
}

.character-card:hover {
  z-index: 0;
}

.character-card__overlay {
  position: absolute;
  background-color: #0007;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  z-index: 0;
  top: 0;
}

.character-card__overlay:hover {
  z-index: 1;
}

.character-card__overlay-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  font-size: 1.25rem;
  height: 250px;
}

.character-card__image {
  max-width: 100%;
  object-fit: cover;
  object-position: top;
}

.character-card__full-info {
  padding: 20px;
}

.character-card__title {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 20px;
}

.character-card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
}

.character-card__image--dead {
  transform: rotate(180deg);
}

.character-card__type {
  font-size: 1.25rem;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: #070402;
}

.overlay__button {
  background-color: #67331e;
  font-size: 1.25rem;
  padding: 10px;
  border-radius: 5px;
}
